<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
		INSERT INTO BOARD(NO, TITLE, CONTENT, WRITER) VALUES(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})	
	</insert>
	
	<select id="selectAll" resultType="Board">
		SELECT NO, TITLE, CONTENT, WRITER, REGDATE 
		FROM BOARD
	</select>
	
	<select id="select" parameterType="String" resultType="Board">
		SELECT NO, TITLE, CONTENT, WRITER, REGDATE 
		FROM BOARD
		<if test="String != null">
			WHERE TITLE LIKE '%'||#{String}||'%'
			OR CONTENT LIKE '%'||#{String}||'%'
			OR WRITER LIKE '%'||#{String}||'%'
		</if>
	</select>
	
	<update id="update" parameterType="Board">
		UPDATE BOARD
		SET
		TITLE = #{title},
		CONTENT = #{content},
		REGDATE = SYSDATE
		WHERE WRITER = #{writer} AND NO = #{no}
	</update>
	
	<delete id="delete" parameterType="Board">
		DELETE FROM BOARD WHERE NO = #{no} AND WRITER = #{writer}
	</delete>
	
</mapper>