<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.api.model.Phone" alias="Phone"/>
		<typeAlias type="com.kh.api.model.Company" alias="Company"/>
		<typeAlias type="com.kh.api.model.Userinfo" alias="Userinfo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/phone-mapper.xml"></mapper>
	</mappers>
</configuration>